#container {
    padding: 50px 0;
}

#details-panel {
    width: 500px;
    margin: 0 auto 30px auto;
    display: flex;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 60px #d9d9d9,
            -20px -20px 60px #fff;
}

#poster {
    margin-right: 20px;
    width: 210px;
}

.metadata {
    margin-bottom: 10px;
}

.metadata-title {
    font-family: 'bold';
}

.metadata-value {
    font-family: 'regular';
}

#back-link {
    padding: 10px 20px;
    border: none;
    font-family: bold;
    font-size: 100%;
    border-radius: 10px;
    background-color: #2d55ff;
    color: white;
    cursor: pointer;
    text-decoration: none;

    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
}

@media screen and (max-width: 600px) {
    #details-panel {
        width: 80%;
        flex-direction: column;
        align-items: center;
    }

    #poster {
        margin: 0 0 20px 0;
        width: 80%;
    }

    .metadata {
        text-align: center;
    }
}

#bookmark-button{
    display: block;
    width: 200px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-family: 'bold';
    background-color: #2d55ff;
    padding: 10px 0;
    color: white;
    border-radius: 10px;
}

#bookmark-button:hover{
    background-color: #182a7b;
    cursor: pointer;
}
